/* 전체 화면 */
.screen {
    width: 402px;
    height: 874px;
    background: #191919;
    color: white;
    font-family: Pretendard, sans-serif;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 25px 20px;
}

/* 헤더 */
.attendance-header {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.back-icon {
    width: 26px;
    height: 26px;
    margin-bottom: 40px;
}

.month-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-title {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.month-title b {
    font-size: 40px;
    font-weight: 800;
}

.rate-text {
    font-size: 16px;
    color: #c8c8c8;
}

.pink {
    color: #ff0078;
}

.see-prev {
    font-size: 16px;
    color: #b5b5b5;
}

/* Progress bar */
.progress-bar-box {
    margin-top: 18px;
    position: relative;
    height: 12px;
}

.progress-bg {
    width: 100%;
    height: 12px;
    background: #3d3d3d;
    border-radius: 20px;
}

.progress-fill {
    height: 12px;
    background: #ff0078;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-desc {
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 16px;
    color: #a8a8a8;
    text-align: center;
}

/* 헤더 그림자 박스 */
.header-shadow {
    width: 402px;
    height: 248px;
    background: #1f1f1f;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 20px;
    box-shadow: 0px 4px 22px rgba(0,0,0,0.45);
    position: relative;
    z-index: 0;
}

/* 캘린더 영역 */
.calendar {
    position: relative;
    width: 100%;
    min-height: 1000px;
    background: url("./img/attendance_line.svg") no-repeat top center;
    /* background-size: contain; */
    margin-top: 40px;
}

/* day 그룹 */
.day-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    margin: 0 auto 40px auto;
}

.group-2 { width: 200px; }
.group-3 { width: 280px; }

/* day 공통 */
.day {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    border: 5px solid #a8a8a8;
    color: white;
}

/* 색상 규칙 */
.color-a { color: #FFCFE6; }
.color-b { color: #FF9ACA; }
.color-c { color: #FF5AA8; }

/* BONUS 전용 스타일 */
.bonus-day {
    border-color: #ff0078 !important;
    position: relative;
}

.bonus-img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

/* BONUS 버튼 */
.bonus-btn {
    background: #ff0078;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 8px;
    border-radius: 12px;
    border: none;
    margin-top: -15px;
    cursor: pointer;
    z-index: 2;
}

.day-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-btn {
    width: 100%;
    height: 56px;
    color: white;
    background-color: #ff0078;
    border-radius: 50px;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    /* color: #ff0078; */
}