* {
    box-sizing: border-box;
    scrollbar-gutter: stable;

    -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    background: #191919;
    width: 402px;
    max-width: 402px;
    overflow-x: hidden; 
}

.screen {
    width: 402px;
    height: 874px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    background: #191919;
    padding-bottom: 100px;
}

image_banner, img_default {
    width: 362px !important;
    margin-left: 20px !important;
}

img_default {
    display: block;
    width: 100%;
}

.check-banner img {
    width: 362px;
    margin: 10px auto 0;
    border-radius: 16px;
}

.banner {
    width: 362px;
    height: 88px;
    margin: 12px auto 0;
    padding: 18px;
    background: #303030;
    border-radius: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h3 {
    margin: 0;
    font-size: 20px;
}

.point-right {
    text-align: right;
}

.point-value {
    font-size: 28px;
    font-weight: 800;
    color: #ff0078;
    margin: 0 auto;
}

.shop-btn {
    margin-top: 6px;
    padding: 4px 16px;
    background: #ff0078;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
}

.betting-title {
    margin: 24px 0 8px;
    text-align: center;
    color: #ff0078;
    font-size: 20px;
    font-weight: 800;
}

.card-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible !important;
    gap: 16px;
    padding: 0 20px 0;
    z-index: 5;
}

.bet-card {
    width: 214px;
    background: #ff0078;
    padding: 14px;
    border-radius: 20px;
    flex-shrink: 0;
    text-align: center;
}

.card-img {
    width: 100%;
    border-radius: 12px;
}

.bet-controls {
    margin-top: 14px;
    background: #3d3d3d;
    padding: 9px 10px;
    border-radius: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minus, .plus {
    width: 32px;
    height: 32px;
    background: #8A8A8A;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
}

.bet-point {
    display: flex;
    align-items: center;
    gap: 4px;
}

.swipe-guide {
    text-align: center;
    margin: 14px 0 4px;
}

.bet-history {
    text-align: center;
    color: #ff0078;
}

.nav_bar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 402px;
    height: 80px;
    background: #191919;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 402px;           /* 화면 고정 */
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: none;          /* 처음엔 안 보임 */
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-img {
    width: 320px;
    max-width: 90%;
    border-radius: 20px;
    animation: popupFade 0.25s ease-out;
}

@keyframes popupFade {
    from { opacity: 0; transform: scale(0.85); }
    to { opacity: 1; transform: scale(1); }
}